* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-card {
    display: flex;
    position: relative;
    margin: 10px;
    border-radius: 12px;
}

.item-card .txt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    text-align: center;
}

.item-card:hover .txt {
    opacity: 1;
    transition: opacity 500ms;
    border-radius: 12px;
}

.item-card h2 {
    font-size: 40px;
}

.item-card p {
    font-size: 20px;
}

.item-card h2:after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.5s 0.2s;
}

.item-card:hover h2:after {
    width: 100%;
}
